{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Movies Z&Z SAS - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: EstateAgency - v4.7.0
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="#">Movies <span class="color-b"> Z&Z SAS </span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#encartelera">Cartelera</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{% url 'api_movies' %}">REST Framework</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="#sobrenosotros">Integrantes del proyecto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Header/Navbar -->

  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(http://img.aullidos.com/imagenes/varios/mortal-kombat-banner-new.jfif)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">              
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Mortal-</span>Kombat
                      
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(https://blogdesuperheroes.es/wp-content/plugins/BdSGallery/BdSGaleria/6827.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Batman-</span>Night          
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(https://whatsondisneyplus.com/wp-content/uploads/2019/11/walt-disney-studios.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Disney </span> Studios Movies
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#"><span class="price-a">Precio | $ 12.000</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">



    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8" id="encartelera">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Peliculas En Cartelera</h2>
              </div>
              <div class="title-link">
                <a href="#encartelera">Ver Todas
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">
            {% for recentmovie in recentmovie_list %}
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{{ recentmovie.img }}" alt="" width="100%" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h4 class="card-title-a">
                        <a href="property-single.html">{{ recentmovie.title }}</a>
                          </a>
                      </h4>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Precio | $ 12.000</span>
                      </div>
                      <p href="#" class="link-a"> 2D General
                        <span class="bi bi-chevron-right"></span>
                      </p>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">Vealo solo en cine </h4>
                          <span>CINE COLOMBIA | Derechos reservados</span>                            
                        </li>                        
                      </ul>
                    </div>d-flex justify-content-between
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            {% empty %}
            <tr>
                <td><span>No movies to show</span></td>
            </tr>
            {% endfor %}
            
          
          </div>
        </div>
        <div class="propery-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Latest Properties Section -->

      
    <!-- ======= Quienes Somos Section ======= -->
    <section class="section-testimonials section-t8 nav-arrow-a" id="sobrenosotros">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-center">
              <div class="title-box ">
                <h2 class="title-a">Integrantes del proyecto</h2>
              </div>
            </div>
          </div>
        </div>

        <div id="testimonial-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">  
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/testimonial1.jpg' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                       Gracias por su tiempo y dedicacion en enseñarnos para poder presentarles este proyecto.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/testimonial1.jpg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Zuleydis Barrios Peña</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-img">
                      <img src="{% static 'assets/img/testimonial-2.jpeg' %}" alt="" width="90%" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        Exelente practica, buenos profesores, espero dar clases de nuevo con ellos.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <img src="{% static 'assets/img/testimonial-2.jpeg' %}" alt="" class="testimonial-avatar">
                      <h5 class="testimonial-author">Jorge Zetien Luna</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>
        <div class="testimonial-carousel-pagination carousel-pagination"></div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Movies Z&Z SAS</h3>
            </div>
                Proyecto creado para la clase de Arquitectura de Python, del CAR IV y lsv-tech
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone:</span>  
                    <ul>3145022064 (Jorge Zetien)</ul>
                    <ul>3016527358 (Zuleydis Barrios)</ul>                                       
                </li>
                <li class="color-a">
                  <span class="color-text-a">Email:</span>
                  <ul>jzetien@lsv-tech.com</ul>
                  <ul>zbarrios@lsv-tech.com</ul>
                </li>
              </ul>
            </div>          
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Company</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#">Incio</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#encartelera">Cartelera</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="{% url 'api_movies' %}">RestFramework</a>
                  </li>
                  <li class="item-list-a">
                    <i class="bi bi-chevron-right"></i> <a href="#sobrenosotros">Integrantes del proyecto</a>
                  </li>                   
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Que tiene el proyecto</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Celery
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Web scraping
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> REST Framework
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Pytest
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-right"></i> Coverage
                </li> 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Incio</a>
              </li>
              <li class="list-inline-item">
                <a href="#encartelera">En Cartelera</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'api_movies' %}">REST Framework</a>
              </li>
              <li class="list-inline-item">
                <a href="#sobrenosotros">Integrantes del proyecto</a>
            </ul>
          </nav>
          <div class="socials-a">
            Links de redes sociales de lsv-tech
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/lsvtechcolombia11/" target="_blank">
                  <i class="bi bi-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/techlsv?lang=es" target="_blank">
                  <i class="bi bi-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://co.linkedin.com/company/lsv-tech" target="_blank">
                  <i class="bi bi-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
          </div>
          <div class="credits">           
            Designed by <a href="#">Movies Z&Z SAS | &copy; Copyright Derechos Reservados</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>